{% extends 'base-manager.html.twig' %}
{% block page_specific_styles %}
    {% include 'includes/stylesheets-forms.html.twig' %}
    {% include 'includes/stylesheets-sweetalert.html.twig' %}
    <style>
        .swal2-styled.swal2-confirm {
            border: 0;
            border-radius: 0;
            background: initial;
            background-color: unset;
        }
    </style>
{% endblock %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
    {% include 'includes/scripts-forms.html.twig' %}
    {% include 'includes/scripts-sweetalert.html.twig' %}
    <script>
        const confirm = $('.confirm-wd');
        confirm.on('click', function (e) {
            e.preventDefault();
            const form = $(this).attr('data-form');
            const inputs = document.forms['t_' + form].getElementsByTagName('input');
            let has_empty = false;
            let select = null;
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].value === '') {
                    $('#' + inputs[i].id).addClass('is-invalid');
                    has_empty = true;
                }
                if (form !== 'binance') {
                    select = document.forms['t_' + form].getElementsByTagName('select')[0];
                }
            }
            if (has_empty) {
                return;
            }
            Swal.fire({
                title: "Confirm Withdrawal",
                background: '#22282e',
                html: '\
                <div class="card mb-0 text-left">\
                    <div class="card-body"> \
                        <div class="d-flex mb-8pt">\
                            <div class="flex"><strong class="text-70">SLP</strong></div>\
                            <strong class="text-white">{{ toMoneyFormat(slp_amt) }} SLP</strong>\
                        </div>\
                        <div class="d-flex mb-8pt">\
                            <div class="flex"><strong class="text-70">AXS</strong></div>\
                            <strong class="text-white">{{ toMoneyFormat(axs_amt) }} AXS</strong>\
                        </div>\
                        <div class="d-flex mb-16pt">\
                            <div class="flex"><strong class="text-70">Method</strong></div>\
                            <strong class="text-white"> ' + form.toUpperCase() + '</strong>\
                        </div> ' + getDetails(form, select) + '</div>',
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                confirmButtonText:
                    '<i class="material-icons">check</i> Continue',
                confirmButtonAriaLabel: 'Continue',
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#t_' + form).submit();
                }
            });

            function getDetails(method, select) {
                let html = '';
                let latest_slp = '{{ slp_rate }}';
                let possible =  '{{ peso_symbol ~ ' ' ~ toMoneyFormat((slp_rate - 1) * slp_amt) ~ ' - ' ~ toMoneyFormat(slp_rate * slp_amt) }}';
                if (method === 'bank') {
                    html = '\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Bank</strong></div>\
                        <strong class="text-white">' + $('#' + method + '_' + select.value)[0].innerText + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Account Name</strong></div>\
                        <strong class="text-white">' + $('#b_account_name').val() + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Account Number</strong></div>\
                        <strong class="text-white">' + $('#b_account_number').val() + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Phone Number</strong></div>\
                        <strong class="text-white">' + $('#b_phone_number').val() + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt">\
                         <div class="flex"><strong class="text-70">SLP Rate</strong></div>\
                         <strong class="text-white">' + latest_slp + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt">\
                        <div class="flex"><strong class="text-70">Possible Conversion</strong></div>\
                        <strong class="text-white">' + possible + '</strong>\
                    </div>';
                } else if (method === 'emoney') {
                    html = '\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Service</strong></div>\
                        <strong class="text-white">' + $('#' + method + '_' + select.value)[0].innerText + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Recipient Name</strong></div>\
                        <strong class="text-white">' + $('#em_name').val() + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Phone Number</strong></div>\
                        <strong class="text-white">' + $('#em_phone_number').val() + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt">\
                         <div class="flex"><strong class="text-70">SLP Rate</strong></div>\
                         <strong class="text-white">' + latest_slp + '</strong>\
                    </div>\
                    <div class="d-flex mb-8pt">\
                        <div class="flex"><strong class="text-70">Possible Conversion Rate</strong></div>\
                        <strong class="text-white">' + possible + '</strong>\
                    </div>';
                } else if (method === 'binance') {
                    html = '\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div class="flex"><strong class="text-70">Binance Email</strong></div>\
                        <strong class="text-white">' + $('#email').val() + '</strong>\
                    </div>';
                } else if (method === 'ronin') {
                    html = '\
                    <div class="d-flex mb-8pt ml-8pt">\
                        <div>\
                            <strong class="text-70">Ronin Address</strong>\
                        </div>\
                        <br>\
                        <strong class="text-white">' + $('#ronin').val() + '</strong>\
                    </div>';
                }
                return html;
            }
        });
    </script>
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'trails': {
            'active': {
                'url': null,
                'name': 'Widthdraw'
            }
        },
        'section': 'Widthdraw'
    } %}
{% endblock breadcrumb %}
{% block content %}
    {% set low_balance = account.manager.ManagerAccountCurrentSLPBalance < 1 and account.manager.ManagerAccountCurrentAXSBalance < 1 %}
    <div class="row">
        <div class="col-lg-9 pr-lg-0">
            <div class="page-section">
                <div class="tab-content">
                    <form method="post" role="tabpanel" class="tab-pane fade {% if not next %}show active{% endif %}"
                          {% if not next %}aria-current="page" {% endif %} id="a_d"
                          action="{{ site_url('manager/withdraw') }}">
                        <h4>Amount</h4>
                        <input type="hidden" name="_token" value="{{ token }}">
                        <div class="col-5">
                            <div class="d-flex flex-column mb-24pt">
                                <p class="text-muted text-uppercase mb-3 d-block font-weight-bold">balance</p>
                                {% if low_balance %}
                                    <p><small class="text-warning bg-dark">Your balance is too low.</small></p>
                                {% endif %}
                                <div class="d-flex align-items-center font-weight-bold mb-2">
                                    <p class="flex text-body mb-0 font-weight-bolder">SLP</p>
                                    <span class="d-flex align-items-center text-70">{{ toMoneyFormat(account.manager.ManagerAccountCurrentSLPBalance) }} SLP</span>
                                </div>
                                <div class="d-flex align-items-center font-weight-bold mb-2">
                                    <p class="flex text-body mb-0 font-weight-bolder mt-2">AXS</p>
                                    <span class="d-flex align-items-center text-70">{{ toMoneyFormat(account.manager.ManagerAccountCurrentAXSBalance) }} AXS</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-group-form">
                            <div class="list-group-item d-flex align-items-center">
                                <i class="material-icons icon-32pt text-accent-yellow">announcement</i>
                                <div class="flex ml-4 text-accent-yellow">The amount you specify <strong>must</strong>
                                    not
                                    exceed your current SLP/AXS balance.
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group row align-items-center mb-0">
                                    <label class="col-form-label form-label col-sm-3">Amount</label>
                                    <div class="col-sm-4">
                                        <label for="slp_amt" class="{{ low_balance ? 'text-muted' : '' }}">SLP</label>
                                        <input id="slp_amt"
                                               type="text"
                                               name="s"
                                               class="form-control {% if err.s %}is-invalid{% endif %} {% if low_balance %}bg-dark disabled{% endif %}"
                                               placeholder="{{ not low_balance ? 'SLP Amount' : 'Not enough balance' }}"
                                               data-mask="0,###,000"
                                               required
                                               {{ low_balance ? 'disabled' : '' }}
                                               data-mask-reverse="true"
                                               value="{% if slp_amt %}{{ slp_amt }}{% endif %}"
                                        >
                                    </div>
                                    <div class="col-sm-4 mt-sm-0 mt-2">
                                        <label for="axs_amt"
                                               class="{{ account.manager.ManagerAccountCurrentAXSBalance > 0 ? '' : 'text-muted' }}">AXS</label>
                                        <input id="axs_amt"
                                               type="text"
                                               name="a"
                                               class="form-control bg-dark {% if err.a %}is-invalid{% endif %}"
                                               placeholder="{{ account.manager.ManagerAccountCurrentAXSBalance > 0 ? 'AXS Amount' : 'Not enough balance' }}"
                                               data-mask="0,###,000"
                                               data-mask-reverse="true"
                                               {% if not account.manager.ManagerAccountCurrentAXSBalance < 1 %}disabled{% endif %}
                                               value="{% if axs_amt %}{{ axs_amt }}{% endif %}"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item text-right">
                                <div class="form-group row align-items-center mb-0">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        {% if next %}
                                            <button type="button" class="btn btn-accent"
                                                    onclick="document.getElementById('_w_d_t').click()">Next
                                            </button>
                                        {% else %}
                                            <button type="submit"
                                                    class="btn btn-accent {% if low_balance %}disabled{% endif %}">Next
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tab-pane fade {% if next %}show active{% endif %}"
                         {% if next %}aria-current="page" {% endif %} role="tabpanel" id="w_d">
                        <h4>Withdrawal Details</h4>
                        <div class="row">
                            <div class="col-12">
                                <p><strong>Select withdrawal method</strong></p>
                            </div>
                            <div class="col-md-7 mb-24pt mb-md-0">
                                <div class="card card-flush bg-transparent">
                                    <div class="card-header card-header-tabs-basic nav px-0"
                                         role="tablist">
                                        <a href="javascript:void(0);"
                                           class="active"
                                           data-toggle="tab"
                                           data-target="#t_binance"
                                           role="tab"
                                           aria-selected="true">Binance</a>
                                        <a href="javascript:void(0);"
                                           class=""
                                           data-toggle="tab"
                                           data-target="#t_emoney"
                                           role="tab"
                                           aria-selected="false">E-money</a>
                                        <a href="javascript:void(0);"
                                           class=""
                                           data-toggle="tab"
                                           data-target="#t_bank"
                                           role="tab"
                                           aria-selected="false">Bank</a>
                                    </div>
                                    <div class="card-body text-70">
                                        <div class="tab-content">
                                            <form method="post" action="{{ site_url('manager/withdraw/process') }}"
                                                  class="tab-pane fade show active" id="t_binance">
                                                <input type="hidden" name="_method" value="binance">
                                                <input type="hidden" name="_token" value="{{ token }}">
                                                <input type="hidden" name="_slp_amt" value="{{ slp_amt }}">
                                                <input type="hidden" name="_axs_amt" value="{{ axs_amt }}">
                                                <div class="form-group mb-24pt">
                                                    <label class="form-label"
                                                           for="email">Registered Binance Email</label>
                                                    <input id="email" required
                                                           name="binance[email]"
                                                           type="text"
                                                           class="form-control"
                                                           value="{{ user.getUserEmail }}"
                                                           placeholder="email@example.com">
                                                    <p class="text-accent-yellow mt-2">No Binance account?
                                                        <a href="https://accounts.binance.com/en/register?ref=RZJAUD1L" class="text-accent-yellow" target="_blank"><strong>Register now!</strong> <i class="fa fa-link" style="font-size: 8px; position: relative; top: -5px"></i></a>
                                                    </p>
                                                </div>
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-accent confirm-wd"
                                                            data-form="binance">Confirm
                                                    </button>
                                                </div>
                                            </form>
                                            <!--RONIN FORM HERE-->
                                            {% if can_withdraw %}
                                                <form method="post" action="{{ site_url('manager/withdraw/process') }}"
                                                      class="tab-pane fade" id="t_emoney">
                                                    <input type="hidden" name="_method" value="emoney">
                                                    <input type="hidden" name="_token" value="{{ token }}">
                                                    <input type="hidden" name="_slp_amt" value="{{ slp_amt }}">
                                                    <input type="hidden" name="_axs_amt" value="{{ axs_amt }}">
                                                    <div class="form-group">
                                                        <label class="form-label" for="emoneys">Select Gateway</label>
                                                        <select id="emoneys" data-toggle="select" class="form-control"
                                                                name="emoney[payment]" required>
                                                            {% for em in emoneys %}
                                                                <option value="{{ em.EMoneyID }}"
                                                                        {% if em.EMoneyID == 1 %}selected{% endif %} id="emoney_{{ em.EMoneyID }}">{{ em.EMoneyName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label"
                                                               for="em_phone_number">Phone Number</label>
                                                        <input id="em_phone_number" required
                                                               name="emoney[phone_number]"
                                                               type="text"
                                                               class="form-control"
                                                               data-mask="##########0" autocomplete="off" maxlength="11"
                                                               value="{{ user.getUserPhone }}"
                                                               placeholder="09xxxxxxxxx">
                                                    </div>
                                                    <div class="form-group mb-24pt">
                                                        <label class="form-label"
                                                               for="em_name">Account Name</label>
                                                        <input id="em_name" required
                                                               type="text"
                                                               class="form-control"
                                                               name="emoney[name]"
                                                               placeholder="Account Name"
                                                               value="{{ account.getUserFullName }}"
                                                        >
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-accent confirm-wd"
                                                                data-form="emoney">Confirm
                                                        </button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="tab-pane fade" id="t_emoney">
                                                    <div class="alert alert-soft-info">
                                                        <div class="d-flex flex-wrap">
                                                            <div class="mr-8pt">
                                                                <i class="material-icons">info</i>
                                                            </div>
                                                            <div class="flex d-flex align-items-center" style="min-width: 180px">
                                                                <small class="text-100">
                                                                    Emoney withdrawal schedule is from<br>Mon to Fri, 9 AM - 5 PM
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if can_withdraw %}
                                                <form method="post" action="{{ site_url('manager/withdraw/process') }}"
                                                      class="tab-pane fade" id="t_bank">
                                                    <input type="hidden" name="_method" value="bank">
                                                    <input type="hidden" name="_token" value="{{ token }}">
                                                    <input type="hidden" name="_slp_amt" value="{{ slp_amt }}">
                                                    <input type="hidden" name="_axs_amt" value="{{ axs_amt }}">
                                                    <div class="form-group">
                                                        <label class="form-label" for="bank">Select Bank</label>
                                                        <select id="bank" data-toggle="select" class="form-control"
                                                                name="bank[payment]" required>
                                                            {% for bank in banks %}
                                                                <option value="{{ bank.BankID }}"
                                                                        {% if bank.BankID == 53 %}selected{% endif %} id="bank_{{ bank.BankID }}">{{ bank.BankName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label"
                                                               for="b_phone_number">Phone Number</label>
                                                        <input id="b_phone_number" required
                                                               name="bank[phone_number]"
                                                               type="text"
                                                               class="form-control"
                                                               data-mask="##########0" autocomplete="off" maxlength="11"
                                                               value="{{ user.getUserPhone }}"
                                                               placeholder="09xxxxxxxxx">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label"
                                                               for="b_account_name">Account Name</label>
                                                        <input id="b_account_name" required
                                                               type="text"
                                                               class="form-control"
                                                               name="bank[account_name]"
                                                               placeholder="Account Name"
                                                               value="{{ account.getUserFullName }}"
                                                        >
                                                    </div>
                                                    <div class="form-group mb-24pt">
                                                        <label class="form-label"
                                                               for="b_account_number">Account Number</label>
                                                        <input id="b_account_number" required
                                                               name="bank[account_number]"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="Account Number">
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-accent confirm-wd"
                                                                data-form="bank">Confirm
                                                        </button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="tab-pane fade" id="t_bank">
                                                    <div class="alert alert-soft-info">
                                                        <div class="d-flex flex-wrap">
                                                            <div class="mr-8pt">
                                                                <i class="material-icons">info</i>
                                                            </div>
                                                            <div class="flex d-flex align-items-center" style="min-width: 180px">
                                                                <small class="text-100">
                                                                    Bank withdrawal schedule is from<br>Mon to Fri, 9 AM - 5 PM
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 order-first order-md-last">
                                <div class="card mb-lg-0 mb-24pt">
                                    <div class="card-header">
                                        <h5 class="mb-0">Amount</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex mb-8pt">
                                            <div class="flex"><strong class="text-70">SLP</strong></div>
                                            <strong>{{ toMoneyFormat(slp_amt) }} SLP</strong>
                                        </div>
                                        <div class="d-flex mb-8pt">
                                            <div class="flex"><strong class="text-70">AXS</strong></div>
                                            <strong>{{ toMoneyFormat(axs_amt) }} AXS</strong>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <form method="post" action="{{ site_url('manager/withdraw') }}">
                                            <input type="hidden" name="_token" value="{{ token }}">
                                            <input type="submit" name="reset" class="text-danger btn btn-link p-0"
                                                   value="reset">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 page-nav d-none d-lg-block">
            <div class="page-section pt-lg-112pt">
                <nav class="nav page-nav__menu">
                    <a class="nav-link {% if not next %}active{% endif %}"
                       {% if not next %}aria-selected="true"{% endif %} data-target="#a_d" href="javascript:void(0);"
                       role="tab" data-toggle="tab">Set Amount</a>
                    <a class="nav-link {% if next %}active{% endif %} {% if not next %}disabled{% endif %}"
                       {% if next %}aria-selected="true"{% endif %} data-target="#w_d" href="javascript:void(0);"
                       role="tab" data-toggle="tab" id="_w_d_t">Withdrawal Details</a>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}