{% extends 'base-manager.html.twig' %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'trails': {
            'active' : {
                'url' : null,
                'name': 'Deposits'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="page-section">
        <h4>Deposits History</h4>
        <div class="card">
            <div class="table-responsive"
                 data-toggle="lists"
                 data-lists-sort-by="deposit-date"
                 data-lists-sort-desc="true"
                 data-lists-values='["deposit-no", "deposit-amt", "deposit-date", "team-status"]'>

                <table class="table mb-0 thead-border-top-0 table-nowrap">
                    <thead>
                    <tr>
                        <th style="width: 150px;">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="deposit-no">Deposit ID</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="deposit-amt">Deposit Amount</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="deposit-to-team">To Team</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="team-status">Team Status</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="deposit-date">Date</a>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="my-teams">
                    {% if deposits %}
                        {% for deposit in deposits %}
                            <tr>
                                <td>
                                    <div class="d-flex flex-column">
                                        <small class="deposit-no">
                                            <strong>
                                                # {{ deposit.ManagerShareID }}
                                            </strong>
                                        </small>

                                    </div>
                                </td>
                                <td class="text-center">
                                    {{ toMoneyFormat(deposit.ManagerShareAmount) }}
                                </td>
                                <td class="text-center">
                                    <span class="deposit-to-team">
                                        <a href="{{ site_url('manager/teams') ~ '/' ~ deposit.AssetTeamSlug|url_encode }}">{{ deposit.AssetTeamName }}</a>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="deposit-date">
                                       {% if deposit.AssetTeamStatus %}
                                           <strong class="text-success">Active</strong>
                                       {% else %}
                                           <strong class="text-warning">Pending</strong>
                                       {% endif %}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="deposit-date">
                                       {{ deposit.ManagerSharePurchaseDate|date('M j, o') }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <strong>No data yet.</strong>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                <span class="text-50">Total Assets: </span>{{ peso_symbol ~ ' ' ~ toMoneyFormat(account.manager.getAsset) }}
            </div>
        </div>
    </div>
{% endblock content %}

