{% extends 'base-admin.html.twig' %}
{% block page_specific_styles %}
    {% include 'includes/stylesheets-forms.html.twig' %}
{% endblock %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-forms.html.twig' %}
    <script src="{{ load_static('assets/vendor/toastr.min.js') }}"></script>
    <script>
        {% autoescape false %}
        {{ getFlashToast('toastr') }}
        {% endautoescape %}
    </script>
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Managers',
        'trails': {
            0: {
                'url': site_url('admin'),
                'name': 'Dashboard'
            },
            1: {
                'url': site_url('admin/managers'),
                'name': 'Managers'
            },
            'active': {
                'url': null,
                'name': 'New'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="container page__container">
        <div class="page-section">
            <div class="row">
                <form class="col-lg-10" method="post">
                    <h4>New Manager Account</h4>
                    {% if errors %}
                        <div class="alert alert-soft-warning fade show">
                            <div class="d-flex flex-wrap align-items-start">
                                <div class="mr-8pt">
                                    <i class="material-icons">bug_report</i>
                                </div>
                                <div class="flex">
                                    <p class="text-100">
                                        <strong>Please fix the following errors:</strong><br>
                                    </p>
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% autoescape false %}
                        {{ getFlashAlert('msg') }}
                    {% endautoescape %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="first_name">First Name</label>
                                <input id="first_name" name="UserFirstName" type="text" class="form-control {{ errors.UserFirstName is defined ? 'is-invalid': '' }}" required autofocus placeholder="First Name" value="{{ vals.UserFirstName is defined ? vals.UserFirstName : '' }}" maxlength="50" minlength="2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="last_name">Last Name</label>
                                <input id="last_name" name="UserLastName" type="text" class="form-control {{ errors.UserLastName is defined ? 'is-invalid': '' }}" required placeholder="Last Name" value="{{ vals.UserLastName is defined ? vals.UserLastName : '' }}" maxlength="50" minlength="2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="m_name">Middle Name (Optional)</label>
                                <input id="m_name" name="UserMiddleName" type="text" class="form-control {{ errors.UserMiddleName is defined ? 'is-invalid': '' }}" placeholder="Middle Name (Optional)" value="{{ vals.UserMiddleName is defined ? vals.UserMiddleName : '' }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="gender">Gender</label>
                                <select id="gender" name="UserGender" data-toggle="select" class="form-control" data-minimum-results-for-search="-1">
                                    <option value="M" {{ gender == 'M' ? 'selected' : '' }}>Male</option>
                                    <option value="F" {{ gender == 'F' ? 'selected' : '' }}>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-label" for="email">Email</label>
                                <input id="email" name="UserEmail" type="email" class="form-control {{ errors.UserEmail is defined ? 'is-invalid': '' }}" required placeholder="Email" value="{{ vals.UserEmail is defined ? vals.UserEmail : '' }}" maxlength="50" minlength="8">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="phone">Phone Number</label>
                                <input id="phone" name="UserPhone" type="text" class="form-control {{ errors.UserPhone is defined ? 'is-invalid': '' }}" required placeholder="Phone Number" value="{{ vals.UserPhone is defined ? vals.UserPhone : '' }}" maxlength="13" minlength="11">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="address">Address</label>
                                <input id="address" name="UserAddress" type="text" class="form-control {{ errors.UserAddress is defined ? 'is-invalid': '' }}" required placeholder="Address" value="{{ vals.UserAddress is defined ? vals.UserAddress : '' }}" maxlength="60" minlength="8">
                            </div>
                        </div>
                        <div class="col-md-12 text-right mt-4">
                            <button class="btn btn-rounded btn-outline-accent-yellow" type="submit">
                                <i class="material-icons icon--left">save</i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}