{% extends 'base-admin.html.twig' %}
{% block page_specific_styles %}
    {% include 'includes/stylesheets-forms.html.twig' %}
    {% include 'includes/stylesheets-datepicker.html.twig' %}
    {% include 'includes/stylesheets-dragula.html.twig' %}
{% endblock %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-forms.html.twig' %}
    {% include 'includes/scripts-datepicker.html.twig' %}
    {% include 'includes/scripts-dragula.html.twig' %}
    <script src="{{ load_static('assets/vendor/toastr.min.js') }}"></script>
    <script>
        let skip = [];
        dragula([document.getElementById('selection'), document.getElementById('destination')])
            .on('drop', function (el) {
                const id = el.getAttribute('data-team-id');
                let selected = el.getAttribute('data-team-selected')
                if (!selected) {
                    skip.push(id);
                    el.setAttribute('data-team-selected', true);
                } else {
                    skip.splice($.inArray(el.getAttribute('data-team-id'), skip), 1);
                    el.setAttribute('data-team-selected', false);
                }
            });
    </script>
    <script>
        {% autoescape false %}
        {{ getFlashToast('toastr') }}
        {% endautoescape %}
    </script>
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Managers',
        'trails': {
            0: {
                'url': site_url('admin'),
                'name': 'Dashboard'
            },
            1: {
                'url': site_url('admin/managers'),
                'name': 'Managers'
            },
            2: {
                'url': site_url('admin/managers/new'),
                'name': 'New'
            },
            'active': {
                'url': null,
                'name': 'Add to Teams'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="page-section">
        <div class="container page__container">
            {% if step_2 %}
                <div class="row mb-24pt">
                    <div class="col-lg-5 mb-24pt mb-lg-0">
                        <h4 class="mb-8pt">Add to Teams</h4>
                        <p class="text-70 mb-24pt">Include this manager to a team</p>
                    </div>
                    <div class="col-lg-7 d-flex align-items-center">
                        <div class="page-num-timeline d-flex flex-column flex-sm-row align-items-center justify-content-center flex">
                            <div class="align-content-md-center justify-content-md-between d-md-flex flex-md">
                                <a href="javascript:void(0);"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   data-title="Manager Details"
                                   class="page-num-timeline__item ml-md-64pt ml-0">
                                    <span class="page-num-timeline__item-tip"></span>
                                    <span class="page-num"><i class="material-icons">build</i></span>
                                </a>
                                <a href="javascript:void(0);"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   data-title="Select Teams"
                                   class="page-num-timeline__item page-num-timeline__item-current ml-md-112pt ml-0">
                                    <span class="page-num-timeline__item-tip"></span>
                                    <span class="page-num"><i class="material-icons">mouse</i></span>
                                </a>
                                <a href="javascript:void(0);"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   data-title="Set Amount"
                                   class="page-num-timeline__item ml-md-112pt mr-0 mr-md-64pt">
                                    <span class="page-num-timeline__item-tip"></span>
                                    <span class="page-num"><i class="material-icons">extension</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md">
                    <div class="card shadow-none border border-style-dashed">
                        <div class="card-body">
                            <script>
                                $(document).ready(function () {
                                    const card_left = $('#selection');
                                    const search = $('#search-team');
                                    const url = "{{ site_url('/admin/teams/get') }}";
                                    let html = "";

                                    function toMoney(int) {
                                        return parseFloat(int).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();

                                    }

                                    search.on('keyup', function () {
                                        if (this.value.length > 2) {
                                            get_teams(this.value);
                                        } else {
                                            get_teams();
                                        }
                                    });

                                    function get_teams(search = '') {
                                        card_left.html();
                                        $.ajax({
                                            url: url,
                                            type: "GET",
                                            data: {
                                                search: search,
                                                skip: skip
                                            }
                                        })
                                            .done(function (data) {
                                                data = JSON.parse(data);
                                                const peso = "{{ peso_symbol }}";
                                                for (let i = 0; i < data.length; i++) {
                                                    html += '\
                                                    <div class="card card-flush" data-team-id="' + data[i].AssetTeamID + '">\
                                                        <input type="hidden" name="teams[]" value="' + data[i].AssetTeamID + '" data-team-selected="false">\
                                                        <div class="card-body pb-0">\
                                                            <p>\
                                                                <strong>' + data[i].AssetTeamName + '</strong><br>\
                                                                <span class="text-muted">Value: ' + peso + ' ' + toMoney(data[i].AssetTeamCollectedAmount) + ' / ' + toMoney(data[i].AssetTeamValue) + '</span>\
                                                            </p>\
                                                        </div>\
                                                    </div>';
                                                }
                                                card_left.html(html);
                                                html = '';
                                            })
                                    }

                                    get_teams();
                                });
                            </script>
                            <div class="h6 mb-3">Select Teams</div>
                            {% autoescape false %}
                                {{ getFlashAlert('msg') }}
                            {% endautoescape %}
                            <div class="form-group border-bottom-white mb-4">
                                <label class="form-text d-none" for="search-team">Search Team</label>
                                <input type="text" id="search-team" class="form-control form-control-flush"
                                       placeholder="Search Team">
                            </div>
                            <div id="selection"
                                 class="card-list">
                            </div>
                        </div>
                    </div>
                </div>
                <form class="col-md" method="post">
                    <div class="card shadow-none border border-style-dashed">
                        <div class="card-body">
                            <div class="h6 mb-3">Manager</div>
                            <div class="d-flex align-items- mb-4" style="white-space: nowrap;">
                                <div class="d-flex flex-column">
                                    <p class="mb-1 lead"><strong>{{ manager.getUserFullName }}</strong></p>
                                    <div class="d-flex align-items-center">
                                        <div class="flex">
                                            <small class="text-70">
                                                Teams: {{ manager.getManagerAccount.ManagerTeamCount }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small class="text-muted"><em>drag below</em> &downarrow;</small>
                            <div id="destination" class="card-list pb-5 pt-2">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-link text-accent-yellow">
                                Next
                                <span class="material-icons icon--right">navigate_next</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}