<div class="flex d-flex flex-column flex-sm-row align-items-center mb-lg-24pt mb-0">
    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">{{ section ?? get_uri(1)|title }}</h2>
        <ol class="breadcrumb p-0 m-0">
            {% for key, page in trails %}
                {% set active = '' %}
                {% if key == 'active' %}
                    {% set active = 'active' %}
                {% endif %}
                {% if page.url != null %}
                    <li class="breadcrumb-item {{ active }}"><a href="{{ page.url }}">{{ page.name|title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item {{ active }}">{{ page.name|title }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>