{% set data_caret = 'data-caret="false"' %}
{% set name_class = 'text-black-100' %}
{% set role_class = 'text-black-50' %}
{% set dropdown_class = 'dropdown-menu dropdown-menu-full dropdown-menu-caret-center' %}

{% if area != 'drawer'%}
    {% set data_caret = '' %}
    {% set name_class = 'navbar-text-100' %}
    {% set role_class = 'navbar-text-50' %}
    {% set dropdown_class = 'dropdown-menu dropdown-menu-right' %}
{% endif %}

<a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" {{ data_caret }}>
    <img width="32" height="32" class="rounded-circle mr-8pt" src="{{ load_static('assets/chndrwr/images/users/elliot.jpg') }}" alt="account" />
    <span class="flex d-flex flex-column mr-8pt">
                        <span class="{{ name_class }}">{{ user.getUserName }}</span>
                        <small class="{{ role_class }}">{{ user_type|join('/') }}</small>
                    </span>
</a>
<div class="{{ dropdown_class }}">
    <div class="dropdown-header"><strong>Account</strong></div>
    <a class="dropdown-item" href="#">Edit Account</a>
    <a class="dropdown-item" href="#">Billing</a>
    <a class="dropdown-item" href="#">Payments</a>
    <a class="dropdown-item" href="{{ site_url('auth/logout') }}">Logout</a>
    {% if user_type|length > 1 %}
        <div class="dropdown-divider"></div>
        <div class="dropdown-header"><strong>Switch Dashboard</strong></div>
        <a href="{{ site_url('admin') }}" class="dropdown-item d-flex align-items-center {% if get_uri(0) == 'admin' %}active{% endif %}">
            <div class="avatar avatar-sm mr-8pt">
                <span class="avatar-title rounded bg-primary">ADM</span>
            </div>
            <small class="ml-4pt flex">
                <span class="d-flex flex-column">
                    <strong class="text-black-100">Admin Dashboard</strong>
                    <span class="text-black-50">Administrator</span>
                </span>
            </small>
        </a>
        <a href="{{ site_url('manager/dashboard') }}" class="dropdown-item d-flex align-items-center {% if get_uri(0) == 'manager' %}active{% endif %}">
            <div class="avatar avatar-sm mr-8pt">
                <span class="avatar-title rounded bg-accent">MNR</span>
            </div>
            <small class="ml-4pt flex">
                <span class="d-flex flex-column">
                    <strong class="text-black-100">Manager Dashboard</strong>
                    <span class="text-black-50">Manager</span>
                </span>
            </small>
        </a>
    {% endif %}
</div>
