{% extends 'base-manager.html.twig' %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'trails': {
            'active': {
                'url': null,
                'name': 'My Teams'
            }
        },
        'section': 'Teams'
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="page-section">
        <h4>My Teams</h4>
        <div class="card">
            <div class="table-responsive"
                 data-toggle="lists"
                 data-lists-sort-by="team-manager-ownership"
                 data-lists-sort-desc="false"
                 data-lists-values='["team-name", "team-manager-ownership", "team-income-rate", "bal-slp", "bal-axs", "avg-slp"]'>

                <table class="table mb-0 thead-border-top-0 table-nowrap">
                    <thead>
                    <tr>
                        <th style="width: 150px;">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="team-name">Team Name</a>
                        </th>
                        <th class="text-center" data-toggle="tooltip" title="Small Love Potion">
                            <a href="javascript:void(0);" data-sort="bal-slp" class="sort">SLP<br>Farmed</a>
                        </th>
                        <th class="text-center" data-toggle="tooltip" title="Axie Infinity Shards">
                            <a href="javascript:void(0);" data-sort="bal-axs" class="sort">AXS<br>Farmed</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="team-income-rate">Royalty</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0);" data-sort="avg-slp" class="sort">Daily<br>SLP Average</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="team-manager-ownership">Ownership</a>
                        </th>
                        <th style="width: 120px"></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="my-teams">
                    {% if my_teams %}
                        {% for team in my_teams %}
                            <tr>
                                <td>
                                    <div class="media flex-nowrap align-items-center"
                                         style="white-space: nowrap;">
                                        <div class="avatar avatar-sm mr-8pt">
                                        <span class="avatar-title rounded {{ random(colors['avatar']) }} text-white">
{#                                            {{ team.AssetTeamName|split(' ')|map(p => "#{p}"|first)|join('') }}#}
                                            {{ replace(team.AssetTeamName, '/[a-zA-Z\']/') }}
                                        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="d-flex flex-column">
                                                <small class="team-name">
                                                    <strong>
                                                        <a class="text-white" href="{{ site_url('manager/teams') ~ '/' ~ team.AssetTeamSlug|url_encode }}">{{ team.AssetTeamName }} <i class="fa fa-link text-50" style="font-size: 8px; position: relative; top: -5px"></i></a>
                                                    </strong>
                                                </small>
                                                <small class="text-50">
                                                    <a href="{{ team.AssetPlatformWebsiteLink }}"
                                                       target="_blank">{{ team.AssetPlatformName }}</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center bal-slp">
                                    {{ toMoneyFormat(team.AxieTeam.AxieTeamCurrentSLPBalance) }} SLP
                                </td>
                                <td class="text-center bal-axs">
                                    {{ toMoneyFormat(team.AxieTeam.AxieTeamCurrentAXSBalance) }} AXS
                                </td>
                                <td class="text-center">
                                    <span class="team-income-rate {% if team.TeamProfitShare == 60.00 %}text-success{% endif %}">
                                        {{ team.TeamProfitShare }}%
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="avg-slp">
                                        {{ toMoneyFormat(team.getTeamAVGSLP) }} SLP
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="team-manager-ownership">
                                        {{ team.OwnershipRate }}%
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a class="text-50" href="{{ site_url('manager/teams') ~ '/' ~ team.AssetTeamSlug|url_encode }}">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <strong>No data yet.</strong>
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}