{% extends 'base-login.html.twig' %}
{% block content %}
    <div class="col my-auto p-md-64pt p-4">
        <div class="mdk-box js-mdk-box"
             data-effects="parallax-background blend-background">
            <div class="mdk-box__content justify-content-center mt-0 mt-lg-64pt mt-md-0">
                <div class="hero text-lg-center text-left">
                    <div class="row">
                        <div class="col-lg-5 mb-32pt mb-lg-0 order-2 order-lg-1">
                            <div class="mt-lg-12s8pt">
                                <div class="d-none d-lg-block">
                                    <img src="{{ load_static('assets/chndrwr/images/cd-logo-only.png') }}" alt="Chaindrawer Team Monitoring" class="" width="200">
                                </div>
                                <h1 class="text-white text-shadow">Chaindrawer</h1>
                                <p class="lead measure-hero-lead mx-auto text-white text-shadow">Login to your account</p>
                                {% set action = site_url('auth/login' ~ next) %}
                                {% autoescape false %}
                                    {{ form.begin('post', action, ['col-xl-8 offset-xl-2 p-0 text-left']) }}
                                    {{ getFlashAlert('msg') }}
{#                                    <div class="form-group border-bottom-1" style="border-bottom-color: #e4a93c!important;">#}
{#                                        {{ form.field('username').required.autofocus.flush }}#}
{#                                    </div>#}
{#                                    <div class="form-group border-bottom-1" style="border-bottom-color: #e4a93c!important;">#}
{#                                        {{ form.field('password').password.required.flush }}#}
{#                                    </div>#}
                                    <div class="form-group">
                                        {{ form.field('username').required.autofocus }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.field('password').password.required }}
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-accent">Login</button>
                                    </div>
                                    {{ form.end }}
                                {% endautoescape %}
                            </div>
                        </div>
                        <div class="col-lg-7 p-lg-4 my-auto order-1 order-lg-2 p-0 pb-4">
                            <img src="{{ load_static('assets/chndrwr/images/screenshots/login-col-img.png') }}" alt="Chaindrawer Axie Team Monitoring" class="img-fluid" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="col-lg-3 col-md-6"> #}
        {# <div class="container page__container"> #}
        {# <div class="hero"> #}
        {# <h1>Chaindrawer</h1> #}
        {# {% set action = site_url('auth/login' ~ next) %} #}
        {# {% autoescape false %} #}
        {# {{ form.begin('post', action) }} #}
        {# {{ getFlashAlert('msg') }} #}
        {# <div class="form-group"> #}
        {# {{ form.field('username').required.autofocus }} #}
        {# </div> #}
        {# <div class="form-group"> #}
        {# {{ form.field('password').password.required }} #}
        {# </div> #}
        {# <div class="text-center"> #}
        {# <button class="btn btn-accent">Login</button> #}
        {# </div> #}
        {# {{ form.end }} #}
        {# {% endautoescape %} #}
        {# </div> #}
        {# </div> #}
        {# </div> #}
    </div>
{% endblock %}