{% extends 'base-login.html.twig' %}
{% block breadcrumb %}
    <div class="border-bottom-2 py-32pt position-relative z-1">
        <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h2 class="mb-0">{{ app }}</h2>
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item active">Login {{ user }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="pt-32pt pt-sm-64pt pb-32pt">
        <div class="container page__container">
            {% set action = site_url('auth/login') %}
            {% autoescape false %}
                {{ form.begin('post', action, ['col-md-5', 'p-0', 'mx-auto']) }}
                {{ getFlashAlert('msg') }}
                {{ form.field('username').required.autofocus }}
                {{ form.field('password').password.required }}
                <div class="text-center">
                    <button class="btn btn-accent">Login</button>
                </div>
                {{ form.end }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
{% block page_specific_scripts %}
<script>
    {% autoescape false %}
    {{ getFlashToast('toastr') }}
    {% endautoescape %}
</script>
{% endblock %}