{% extends 'base-admin.html.twig' %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Teams',
        'trails': {
            0: {
                'url': site_url('admin'),
                'name': 'Dashboard'
            },
            'active': {
                'url': null,
                'name': 'Teams'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="container-fluid page__container">
        <div class="page-section">
            <h4>All Teams</h4>
            <div class="card">
                <div class="table-responsive"
                     data-toggle="lists"
                     data-lists-sort-by="date-established"
                     data-lists-sort-desc="false"
                     data-lists-values='["team-name", "team-income-rate", "bal-slp", "team-status", "date-established"]'>
                    <div class="card-header">
                        <div class="row align-items-center" style="white-space: nowrap;">
                            <div class="col-lg d-flex flex-wrap align-items-center justify-content-between">
                                <div class="search-form form-control-flush search-form--dark d-lg-inline-flex mb-8pt mb-lg-0">
                                    <label for="search-table" class="d-none"></label>
                                    <input type="text" id="search-table" class="form-control search w-lg-auto"
                                           placeholder="Search ...">
                                    <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                                    </button>
                                </div>
{#                                <div class="ml-lg-auto dropdown">#}
{#                                    <a href="#" class="btn btn-link dropdown-toggle text-70" data-toggle="dropdown">Status</a>#}
{#                                    <div class="dropdown-menu dropdown-menu-right">#}
{#                                        <a href="#" class="dropdown-item active">All</a>#}
{#                                        <a href="#" class="dropdown-item">Active</a>#}
{#                                        <a href="#" class="dropdown-item">Pending</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="dropdown mr-8pt">#}
{#                                    <a href="#" class="btn btn-link dropdown-toggle text-70" data-toggle="dropdown">Types</a>#}
{#                                    <div class="dropdown-menu dropdown-menu-right">#}
{#                                        <a href="#" class="dropdown-item active">All</a>#}
{#                                        <a href="#" class="dropdown-item">Pioneer</a>#}
{#                                        <a href="#" class="dropdown-item">Regular</a>#}
{#                                    </div>#}
{#                                </div>#}
                                <a href="{{ site_url('admin/teams/new') }}" class="btn btn-outline-accent-yellow btn-sm btn-rounded">
                                    <i class="material-icons icon--left">add</i>
                                    Add New Team
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table mb-0 thead-border-top-0 table-nowrap">
                        <thead>
                        <tr>
                            <th>
                                <a href="javascript:void(0)"
                                   class="sort"
                                   data-sort="team-name">Team Name</a>
                            </th>
                            <th class="text-center" data-toggle="tooltip" title="Small Love Potion">
                                <a href="javascript:void(0);" data-sort="bal-slp" class="sort">SLP<br>Farmed</a>
                            </th>
                            <th class="text-center">
                                <a href="javascript:void(0);" data-sort="team-status" class="sort">Team<br>Status</a>
                            </th>
                            <th class="text-center">
                                <a href="javascript:void(0)"
                                   class="sort"
                                   data-sort="team-income-rate">Royalty</a>
                            </th>
                            <th class="text-center">
                                Managers
                            </th>
                            <th class="text-center">
                                <a href="javascript:void(0);" data-sort="date-established" class="sort">Date<br>Established</a>
                            </th>
                            <th style="width: 120px"></th>
                        </tr>
                        </thead>
                        <tbody class="list" id="my-teams">
                        {% if teams %}
                            {% for team in teams %}
                                <tr>
                                    <td>
                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-sm mr-8pt">
                                                <span class="avatar-title rounded {{ random(colors['avatar']) }} text-white">
                                                    {{ replace(team.AssetTeamName, '/[a-zA-Z\']/') }}
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <div class="d-flex flex-column">
                                                    <small class="team-name">
                                                        <strong>
                                                            <a class="text-white"
                                                               href="{{ site_url('manager/teams') ~ '/' ~ team.AssetTeamSlug|url_encode }}">{{ team.AssetTeamName }}
                                                                <i class="fa fa-link text-50"
                                                                   style="font-size: 8px; position: relative; top: -5px"></i></a>
                                                        </strong>
                                                    </small>
                                                    <small class="text-50">
                                                        <a href="{{ team.TeamPlatformWebsite }}"
                                                           target="_blank">{{ team.TeamPlatform }}</a>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center bal-slp">
                                        {{ toMoneyFormat(team.AxieTeam.AxieTeamCurrentSLPBalance) }} SLP
                                    </td>
                                    <td class="text-center team-status">
                                        {% if team.AssetTeamStatus %}
                                            <p class="mb-0 d-flex align-items-center justify-content-center">
                                                <i class="fa fa-circle" style="font-size: 8px; color: greenyellow"></i>
                                                <strong>&nbsp;Active</strong>
                                            </p>
                                        {% else %}
                                            <p class="mb-0 d-flex align-items-center">
                                                <i class="fa fa-circle text-warning" style="font-size: 8px;"></i>
                                                <strong>&nbsp;Pending</strong>
                                            </p>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="team-income-rate {% if team.TeamProfitShare == 60.00 %}text-success{% endif %}">
                                            {{ team.TeamProfitShare }}%
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {{ team.TeamManagerCount }}
                                    </td>
                                    <td class="text-center date-established">
                                        {{ team.AssetTeamDateAdded|date('M j, o') }}
                                    </td>
                                    <td class="text-center">
                                        <a class="text-50"
                                           href="{{ site_url('manager/teams') ~ '/' ~ team.AssetTeamSlug|url_encode }}">Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    <strong>No data yet.</strong>
                                </td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}