{% block page_specific_styles %}
    <style>
        .sidebar-brand-icon {
            width: unset !important;
            margin: 0 auto !important;
            height: 48px;
        }
    </style>
{% endblock %}
<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>
            <a href="{{ site_url('manager') }}" class="sidebar-brand sidebar-brand-dark bg-dark">
                <img class="sidebar-brand-icon" src="{{ load_static('assets/chndrwr/images/cd-logo-only.png') }}"
                     alt="{{ app }} logo">
            </a>
            <div class="sidebar-heading">Axie</div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item {% if get_uri(1) == null or get_uri(1) == 'teams' %}active open{% endif %}">
                    <a class="sidebar-menu-button"
                       data-toggle="collapse"
                       href="#teams_menu">
                        <span class="sidebar-menu-icon sidebar-menu-icon--left fa fa-rocket"></span>
                        Teams
                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                    </a>
                    <ul class="sidebar-submenu collapse sm-indent {% if get_uri(1) == 'teams' %}show{% endif %}"
                        id="teams_menu">
                        <li class="sidebar-menu-item {% if get_uri(1) == 'teams' and (get_uri(2) is null or get_uri(2) matches '/[\w_\-\d]+[^(earnings)]/') %}active{% endif %}">
                            <a class="sidebar-menu-button"
                               href="{{ site_url('manager/teams') }}">
                                <span class="sidebar-menu-text">All</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item {% if get_uri(1) == 'teams' and get_uri(2) == 'earnings' %}active{% endif %}">
                            <a class="sidebar-menu-button"
                               href="{{ site_url('manager/teams/earnings') }}">
                                <span class="sidebar-menu-text">Earnings</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item {% if get_uri(1) == 'transactions' %}active open{% endif %}">
                    <a class="sidebar-menu-button"
                       data-toggle="collapse"
                       href="#components_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                        Transactions
                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                    </a>
                    <ul class="sidebar-submenu collapse sm-indent {% if get_uri(1) == 'transactions' %}show{% endif %}"
                        id="components_menu">
                        <li class="sidebar-menu-item {% if get_uri(1) == 'transactions' and (get_uri(2) == 'deposits' or get_uri(2) == null) %}active{% endif %}">
                            <a class="sidebar-menu-button"
                               href="{{ site_url('manager/transactions/deposits') }}">
                                <span class="sidebar-menu-text">Deposits</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item {% if get_uri(1) == 'transactions' and get_uri(2) == 'withdrawals' %}active{% endif %}">
                            <a class="sidebar-menu-button"
                               href="{{ site_url('manager/transactions/withdrawals') }}">
                                <span class="sidebar-menu-text">Withdrawals</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>