{% extends 'base-manager.html.twig' %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'trails': {
            0: {
                'url':  site_url('manager/dashboard'),
                'name': 'Dashboard'
            },
            'active': {
                'url': null,
                'name': 'Payouts'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="page-section">
        <h4>Payouts</h4>
        <div class="card">
            <div class="table-responsive"
                 data-toggle="lists"
                 data-lists-sort-by="payout-date"
                 data-lists-sort-desc="true"
                 data-lists-values='["payout-no", "payout-date", "received-php"]'>

                <table class="table mb-0 thead-border-top-0 table-nowrap">
                    <thead>
                    <tr>
                        <th style="width: 150px;">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="payout-no">Payout ID</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="received-slp">Received<br>SLP</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="received-php">Received<br>PHP</a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)"
                               class="sort"
                               data-sort="payout-date">Date</a>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="my-teams">
                    {% if payouts %}
                        {% for payout in payouts %}
                            {% set tr_class = '' %}
                            {% set new = '' %}
                            {% if not payout.ManagerPayoutSeen %}
                                {% set tr_class = 'tr-latest' %}
                                {% set new = '&nbsp;<span class="badge badge-primary-yellow">New</span>' %}
                            {% endif %}
                            <tr class="{{ tr_class }}">
                                <td>
                                    <div class="d-flex flex-column">
                                        <small class="payout-no">
                                            <strong>
                                                <a href="#">#{{ payout.ManagerPayoutID }}</a>{{ new|raw }}
                                            </strong>
                                        </small>

                                    </div>
                                </td>
                                <td class="text-center">
                                    {{ toMoneyFormat(payout.ManagerPayoutTotalSLP, false) }}
                                </td>
                                <td class="text-center">
                                    <span class="received-slp">
                                        {{ peso_symbol ~ ' ' ~ toMoneyFormat(payout.ManagerPayoutTotalPHP) }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="payout-date">
                                       {{ payout.ManagerPayoutDate|date('M j, o') }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a href="{{ site_url('manager/payouts/' ~ payout.ManagerPayoutID)   }}" class="text-50">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <strong>No data yet.</strong>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                {# 15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a> #}
                1 <span class="text-50">of 1</span>
            </div>
        </div>
    </div>
{% endblock content %}

