{% extends 'base-admin.html.twig' %}
{% block page_specific_scripts %}
    {% include 'includes/scripts-tables.html.twig' %}
    <script>
        $(document).ready(function () {
            $('.confirm-withdrawal').on('click', function () {
                const dataURL = $(this).attr('data-href');
                $('#withdraw-body').load(dataURL, function () {
                    $('#withdraw-modal').modal({show: true});
                });
            });
        });
    </script>
    <div class="modal fade" id="withdraw-modal" tabindex="99999" aria-labelledby="withdraw-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: transparent;">
                <div class="modal-body p-0">
                    <div class="card bg-dark card--raised shadow card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title" id="withdraw-modal-label">Withdrawal</h4>
                            </div>
                        </div>
                        <div class="card-body" id="withdraw-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Account',
        'trails': {
            'active': {
                'url': null,
                'name': 'Dashboard'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="container-fluid page__container">
        <div class="page-section">
            <div class="page-separator">
                <div class="page-separator__text">New Withdrawals</div>
            </div>
            {% autoescape false %}
                {{ getFlashAlert('msg') }}
            {% endautoescape %}
            <div class="card">
                <div class="table-responsive"
                     data-toggle="lists"
                     data-lists-sort-by="w-date-request"
                     data-lists-sort-desc="false"
                     data-lists-values='["w-no", "w-method", "w-date-request"]'>
                    <div class="card-body">
{#                        <div class="form-inline">#}
{#                            <label for="search-withdrawal" class="d-none"></label>#}
{#                            <input type="text"#}
{#                                   class="form-control search mb-2 mr-sm-2 mb-sm-0"#}
{#                                   id="search-withdrawal"#}
{#                                   placeholder="Search...">#}
{#                        </div>#}
                        <div class="search-form form-control-flush search-form--dark d-lg-inline-flex mb-8pt mb-lg-0">
                            <label for="search-table" class="d-none"></label>
                            <input type="text" id="search-table" class="form-control search w-lg-auto" placeholder="Search...">
                            <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                            </button>
                        </div>
                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)"
                                       class="sort"
                                       data-sort="w-no">Withdrawal ID</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)"
                                       class="sort"
                                       data-sort="w-method">Method</a>
                                </th>
                                <th class="text-center">
                                    SLP<br>Amount
                                </th>
                                <th class="text-center">
                                    Projected<br>SLP Balance
                                </th>
                                <th class="text-center">
                                    <a href="javascript:void(0)"
                                       class="sort"
                                       data-sort="w-date-request">Request Date</a>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="my-teams">
                            {% if withdrawals %}
                                {% for w in withdrawals %}
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <small class="w-no">
                                                    <strong>
                                                        # {{ w.WithdrawalRequestID }}
                                                    </strong>
                                                </small>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="w-method">{{ w.WithdrawalRequestMethod|upper }}</span>
                                        </td>
                                        <td class="text-center">
                                            {{ toMoneyFormat(w.WithdrawalRequestSLPAmount) }} SLP
                                        </td>
                                        <td class="text-center">
                                            <span>{{ peso_symbol ~ ' ' ~ toMoneyFormat(w.WithdrawalSLPinPHP) }} SLP</span>
                                        </td>
                                        <td class="text-center">
                                        <span class="w-date-request text-50">
                                           {{ w.WithdrawalRequestDate|date('M j, o H:i') }}
                                        </span>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm mb-2">
                                                <button type="button" class="btn btn-outline-warning confirm-withdrawal"
                                                        data-href="{{ site_url('admin/withdrawals/get-fragment?w_id=' ~ w.WithdrawalRequestID) ~ '&b=cancel' }}"
                                                        data-toggle="modal" data-target="#withdraw-modal">
                                                    <i class="material-icons" data-toggle="tooltip"
                                                       title="Cancel withdrawal">cancel</i>
                                                </button>
                                                <button type="button" class="btn btn-outline-success confirm-withdrawal"
                                                        data-href="{{ site_url('admin/withdrawals/get-fragment?w_id=' ~ w.WithdrawalRequestID) ~ '&b=confirm' }}"
                                                        data-toggle="modal" data-target="#withdraw-modal">
                                                    <i class="material-icons">check</i>&nbsp;Complete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>
                                        <strong>No new withdrawals.</strong>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-right">
                        See all Withdrawal Requests
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-separator">
                        <div class="page-separator__text">Incoming Token Claims</div>
                    </div>
                    <div class="card">
                        <div class="card-body table-responsive">
                            <table class="table mb-0 thead-border-top-0 table-nowrap">
                                <thead>
                                <tr>
                                    <th>
                                        Team Name
                                    </th>
                                    <th class="text-center">
                                        SLP<br>Balance
                                    </th>
                                    <th class="text-center">
                                        Next Claim Schedule
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list" id="my-teams">
                                {% if incoming_claims %}
                                    {% for team in incoming_claims %}
                                        <tr>
                                            <th>
                                                <span class="text-70">{{ team.AssetTeamName }}</span>
                                            </th>
                                            <th class="text-center">
                                                <span class="text-70">{{ toMoneyFormat(team.AxieTeamCurrentSLPBalance) }} SLP</span>
                                            </th>
                                            <th class="text-center">{{ team.AxieTeamNextSLPClaim|date('M d, o H:i:s') }}</th>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>
                                            <strong>No data yet.</strong>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ site_url('admin/teams') }}">See All Teams</a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-lg-4">
                    <div class="page-separator">
                        <div class="page-separator__text text-70">What do you wanna do?</div>
                    </div>
                    <div class="row card-group-row mb-lg-8pt">
                        <div class="col-md-12">
                            <div class="col card-group-row__col pl-0">
                                <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card"
                                     data-toggle="popover"
                                     data-trigger="click">
                                    <div class="card-body d-flex flex-column text-70">
                                        <div class="d-flex align-items-center">
                                            <div class="flex">
                                                <div class="d-flex align-items-center">
                                                    <div class="rounded mr-12pt z-0 o-hidden">
                                                        <div class="material-icons"><span class="fa fa-rocket"></span></div>
                                                    </div>
                                                    <div class="flex">
                                                        <div class="card-title">Teams</div>
{#                                                        <p class="flex text-50 lh-1 mb-0"><small>2 options</small></p>#}
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0);"
                                               data-toggle="tooltip"
                                               data-title="See options"
                                               data-placement="top"
                                               data-boundary="window"
                                               class="ml-4pt material-icons text-20 card-course__icon-favorite">arrow_forward_ios</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="popoverContainer d-none">
                                    <div class="media">
                                        <div class="media-left mr-12pt">
                                            <div class="material-icons icon-24pt"><span class="fa text-white fa-rocket"></span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="card-title">Teams</div>
                                            <p class="text-50 d-flex lh-1 mb-0 small">2 options</p>
                                        </div>
                                    </div>
                                    <div class="mt-32pt mb-24pt">
                                        <div class="col">
                                            <a href="#" class="btn btn-outline-white btn-sm mb-3 px-3 w-100">
                                                <i class="material-icons icon--left">remove_red_eye</i> See All
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btn btn-outline-white btn-sm px-3 w-100">
                                                <i class="material-icons icon--left">add_circle</i> Add New
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col card-group-row__col pl-0">
                                <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card"
                                     data-toggle="popover"
                                     data-trigger="click">
                                    <div class="card-body d-flex flex-column text-70">
                                        <div class="d-flex align-items-center">
                                            <div class="flex">
                                                <div class="d-flex align-items-center">
                                                    <div class="rounded mr-12pt z-0 o-hidden">
                                                        <div class="material-icons icon-24pt">work</div>
                                                    </div>
                                                    <div class="flex">
                                                        <div class="card-title">Managers</div>
{#                                                        <p class="flex text-50 lh-1 mb-0"><small>3 options</small></p>#}
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0);"
                                               data-toggle="tooltip"
                                               data-title="See options"
                                               data-placement="top"
                                               data-boundary="window"
                                               class="ml-4pt material-icons text-20 card-course__icon-favorite">arrow_forward_ios</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="popoverContainer d-none">
                                    <div class="media">
                                        <div class="media-left mr-12pt">
                                            <div class="material-icons text-white icon-24pt">work</div>
                                        </div>
                                        <div class="media-body">
                                            <div class="card-title">Managers</div>
                                            <p class="text-50 d-flex lh-1 mb-0 small">2 options</p>
                                        </div>
                                    </div>
                                    <div class="my-32pt">
                                        <div class="col">
                                            <a href="#" class="btn btn-outline-white btn-sm mb-3 px-3 w-100">
                                                <i class="material-icons icon--left">remove_red_eye</i> See All
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btn btn-outline-white btn-sm mb-3 px-3 w-100">
                                                <i class="material-icons icon--left">add_circle</i> Add New
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock content %}